#box{
    padding-inline: 5vw;
    margin-top: 17vh;
}
.caja-de-productos{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

h1{
  color: var(--C-white);
  padding: 15px;
  width: 200px;
  text-align: center;
}
