.custom-button {
  font-weight: 700;
  background-color: var(--botones);
  padding-inline: 4vw;
  padding-block: 1vh;
  color: var(--C-white);
  border: none;
  cursor: pointer;
  transition: 100ms;
  border-radius: 3px;
}

.custom-button:hover {
  background-color: var(--botonesHover);
}