:root {
  --C-blue: #4d94ff;
  --C-green: #016F3E;
  --C-blueShaded: #0e2d83;
  --C-white: #ffffff;
  --C-shadeBlack: #0000004b;
  --C-greenShaded: #03503C;
  --C-greenHigh: #027333;
}

body {
  padding: 0%;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
